<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <style type="text/css">
      body {
        font-family: "Gantari", sans-serif;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        background: #f3f4f6;
        width: 100%;
        max-width: 600px;
      }
      h1,
      h2,
      h3,
      p {
        margin: 0;
      }
      p {
        font-size: 15px;
      }
      a {
        text-decoration: none;
      }
      small {
        font-size: 12px;
        color: #a0a0a0;
      }

      .main-content-container {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
      }
      .card {
        background: #ffffff;
        padding: 15px 20px;
        border-radius: 20px;
      }
      .muted {
        background: #ffffff;
      }

      .gradient-button {
        background: linear-gradient(90deg, #325ffc 0%, #d53779 100%);
        border: none;
        color: white;
        padding: 8px 50px;
        border-radius: 5px;
        cursor: pointer;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 500;
      }
      .test {
        border: 2px solid red;
      }
      .bold {
        font-weight: 700;
      }
      .text-center {
        text-align: center;
      }
      .footer-background {
        background: #06050d;
      }
      @media only screen and (max-width: 450px) {
        .genio {
          height: 100px;
        }
        .info-container {
          width: 75%;
        }
        .genio-container {
          width: 25%;
        }
        .responsive-table {
          display: block;
          margin: 10px 0;
          width: 100%;
        }
      }

      @media only screen and (min-width: 450px) {
        .genio {
          height: 250px;
        }
        .info-container {
          width: 50%;
        }
        .genio-container {
          width: 50%;
        }

        .responsive-3-4 {
          width: 75%;
        }
        .responsive-1-4 {
          width: 25%;
        }
      }
    </style>
  </head>

  <body
    style="
      margin: 0 auto;
      box-sizing: border-box;
      background: #f3f4f6;
      width: 100%;
      max-width: 700px;
      color: #06050d;
    "
  >
    <div style="padding: 10px 20px 0 20px">
      <div>
        <table>
          <tr>
            <td>
              <img
                src="https://rest.shopby.com.ec/public/shopby/logo-shopby.png"
                style="width: 50px; height: 50px"
              />
            </td>
            <td>
              <img
                src="https://rest.shopby.com.ec/public/shopby/logo-shopby-letras.png"
                style="height: 35px"
              />
            </td>
          </tr>
        </table>

        <div>
          <main>
            <table style="width: 100%">
              <tr>
                <td class="info-container">
                  <table style="width: 100%">
                    <tr>
                      <td style="padding: 20px 0">
                        <h1
                          style="margin: 0; font-size: 24px; line-height: 30px"
                        >
                         {{nombre}} ,<br />Tu pedido fue rechazado
                        </h1>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-bottom: 20px">
                        <p style="margin: 0">
                          Lamentamos que tu pedido
                          <span style="font-weight: 700">{{n_pedido}}</span> haya sido
                          rechazado por el comerciante. Si tienes alguna duda o
                          necesitas ayuda, contáctanos a través de nuestro
                          servicio al cliente.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding-bottom: 20px">
                        <a
                          href="https://shopby.com.ec/cuenta/ventas{{n_pedido}}"
                          style="
                            background: #325ffc;
                            border: none;
                            color: white;
                            padding: 8px 50px;
                            border-radius: 5px;
                            cursor: pointer;
                            border-radius: 50px;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >Ver pedido</a
                        >
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="genio-container" style="text-align: right">
                  <img
                    src="https://rest.shopby.com.ec/public/shopby/genios/sad.png"
                    class="genio"
                  />
                </td>
              </tr>
            </table>
          </main>

          <div
            style="
              margin-top: 20px;
              background: #ffffff;
              padding: 15px 20px;
              border-radius: 20px;
            "
          >
            <p>
              Tu pedido
              <span style="font-weight: 700">{{n_pedido}}</span> ha sido rechazado por el
              comerciante. Dirígete a tu cuenta para obtener más información al
              respecto.
            </p>
          </div>

          <div
            style="
              margin-top: 20px;
              background: #ffffff;
              padding: 15px 20px;
              border-radius: 20px;
            "
          >
            <h2>¿Necesitas ayuda?</h2>
            <table style="width: 100%">
              <tr>
                <td
                  class="responsive-table responsive-3-4"
                  style="vertical-align: middle"
                >
                  <table style="width: 100%; border-collapse: collapse">
                    <tr>
                      <td style="vertical-align: middle">
                        <a
                          href="https://api.whatsapp.com/send/?phone=593999705646"
                        >
                          <img
                            src="https://rest.shopby.com.ec/public/shopby/whatsapp.png"
                            style="
                              height: 35px;
                              width: 35px;
                              vertical-align: middle;
                              margin-right: 5px;
                            "
                          />
                        </a>
                      </td>
                      <td style="vertical-align: middle">
                        <p style="margin: 0">
                          Contáctate con servicio al cliente, ¡estamos
                          disponibles para solventar cualquier duda!
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
                <td
                  class="responsive-table responsive-1-4"
                  style="vertical-align: middle"
                >
                  <p style="margin: 0">
                    <span style="font-weight: 700">Siguenos en:</span>
                  </p>
                  <table style="margin-top: 5px">
                    <tr>
                      <td>
                        <a href="https://www.facebook.com/shopbyecu">
                          <img
                            src="https://rest.shopby.com.ec/public/shopby/facebook.png"
                            style="height: 35px"
                          />
                        </a>
                      </td>

                      <td>
                        <a href="https://www.instagram.com/shopby_ec/">
                          <img
                            src="https://rest.shopby.com.ec/public/shopby/instagram.png"
                            style="height: 35px; margin-left: 5px"
                          />
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div
        style="
          background: #161e29;
          height: 150px !important;
          margin: 20px 0 0 0 !important;
          padding: 25px 0 25px 0 !important;
        "
      >
        <table style="width: 100%; height: 100%">
          <tr>
            <td style="vertical-align: middle; text-align: center">
              <img
                src="https://rest.shopby.com.ec/public/shopby/logo-shopby.png"
                style="height: 50px"
              />
              <p style="color: #ffffff; margin: 5px 0 0">shopby.com.ec</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>